body {
  background-color: #d6dbd6;
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 50px;
  margin: 60px auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
}

h1 {
  color: rgb(22, 22, 22);
  text-align: center;
  font-family: inherit;
  font-size: 40px;
}

h2 {
  margin: 0;
}

select {
  font-family: inherit;
  font-size: 1em;
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 30px;
}
.city {
  display: flex;
  justify-content: space-between;
  font-size: larger;
}
.date {
  opacity: 0.7;
  border-bottom: 2px dashed #585858;
  margin-bottom: 60px;
}

.dates {
  opacity: 0.7;
  margin-bottom: 60px;
}

.time {
  font-size: 42px;
  font-weight: bold;
}

.time small {
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
  font-weight: bold;
}

footer {
  color: rgb(15, 15, 15);
  text-align: center;
  font-family: inherit;
  margin-top: 20px;
  font-size: 15px;
  font-style: italic;
}
